body {
    font-family: 'arial';
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    background-color: #dddddd;
}

#inputTexto, div{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #000000;
    min-width: 500px;
    min-height: 25px;
    border-radius: 10px;
    background-color: #ffff;
}

.fondoTextoLargo {
    background-color: #cd6060;
    border: 1px solid #000000;
}